---
import ProjectCard from "./ProjectCard.astro";

interface Project {
  slug: string;
  data: {
    title: string;
    year: number;
    disciplines: string[];
    thumbnail: string;
  };
}

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-12">
  {projects.map((project) => (
    <ProjectCard
      title={project.data.title}
      slug={project.slug}
      year={project.data.year}
      disciplines={project.data.disciplines}
      thumbnail={project.data.thumbnail}
    />
  ))}
</div>
